version: "3.1"
services:
  server:
    build: 
      context: ./
      dockerfile: ./server/Dockerfile
    environment:
      - DOMAIN=exemple.com
  proxy:
    build: 
      context: ./
      dockerfile: ./proxy/Dockerfile
    ports:
      - 801:80
      - 4431:443
    volumes:
      - nginx-letsencrypt:/etc/letsencrypt

volumes:
  nginx-letsencrypt: